:root {
  --color-white: #fff;
}

@font-face {
  src: url("../assets/fonts/roboto-regular.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/roboto-italic.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../assets/fonts/roboto-bold.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/roboto-bold-italic.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 0 14vw;
  font-family: roboto-st, sans-serif;
  line-height: 1.65;
  font-size: 16px;
  color: rgba(16, 16, 16, 0.8);
  background-color: #1C1C1C;
}

.top-image {
  position: absolute;
  background-image: url(../assets/images/main-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 1020px;
  z-index: -1;
}

.content-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 10000px;
  outline: 1px solid red;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../assets/icons/logo.png');
    background-size: contain;
    margin-left: -30px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 32%;

    a {
      text-decoration: none;
      font-size: 14px;
      color: var(--color-white);
      text-transform: uppercase;
      opacity: .7;
      transition: .2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  button {
    width: 165px;
  }
}

.top-info {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-top: 185px;
  color: var(--color-white);

  .additional-info {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 500;
    font-size: 57px;
    width: 500px;
    line-height: 1.2;
  }

  .description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    opacity: .7;
  }

  button {
    width: 165px;
    margin-top: 42px;
  }
}

.menu {
  margin-top: 356px;

  .cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .card {
      min-height: 320px;
      background-color: #312f30;
      border-radius: 10px;
      color: var(--color-white);

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 264px;

        .name {
          margin-top: 18px;
          font-weight: 500;
          font-size: 20px;
        }

        .description {
          width: 85%;
          margin-top: 5px;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          opacity: 0.7;
        }
      }
    }
  }
}

button {
  background-color: #F6762C;
  padding: 15px;
  border-radius: 5px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: .2s;
  white-space: nowrap;

  &:hover {
    background-color: #874118;
  }
}

.food {
  margin-top: 102px;

  .background {
    position: absolute;
    margin: 0 -14vw;
    width: 100vw;
    height: 543px;
    background-color: #312F30;
    z-index: -1;
  }

  .food-wrapper {
    display: flex;
    justify-content: space-between;

    .definition {
      width: 370px;
      margin: 165px 97px 0;
      color: var(--color-white);

      h2 {
        font-weight: 500;
        font-size: 44px;
        width: 500px;
        line-height: normal;
      }

      .history {
        width: 99%;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        opacity: 0.7;
      }

      .price {
        display: flex;
        align-items: center;
        margin-top: 13px;
        gap: 6px;
        color: #f6762c;

        .current-price {
          font-weight: 500;
          font-size: 20px;
          letter-spacing: 0.1em;
        }

        .previous-price {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.1em;
          text-decoration: line-through;
          opacity: 0.5;
        }
      }

      button {
        margin-top: 11px;
      }
    }

  }
}

.restaurants {
  margin-top: 195px;

  .sells {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .sell {
      min-height: 300px;
      width: 555px;
      background-color: #312f30;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--color-white);

      .text {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        width: 100%;
        max-width: 264px;
        margin-top: 63px;

        h3 {
          margin-top: 18px;
          margin-block-start: unset;
          margin-block-end: unset;
          font-weight: 500;
          font-size: 30px;
        }

        /*&.sell1 {*/
        /*  background-image: url(../assets/images/coffee.png);*/
        /*}*/

        .intelligence {
          width: 85%;
          margin-top: 5px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          opacity: 0.7;
        }

        .price-firm {
          display: flex;
          align-items: center;
          margin-top: 11px;
          gap: 6px;
          color: #f6762c;

          .min-price {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.1em;
          }

          .max-price {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-decoration: line-through;
            opacity: 0.5;
          }
        }

        button {
          max-width: 140px;
          max-height: 40px;
          margin-top: 11px;
          font-size: 12px;
        }
      }
    }

    .sell1 {
      background-image: url(../assets/images/coffee.png);
    }

    .sell2 {
      background-image: url(../assets/images/big-pizza.png);
    }

    .sell3 {
      background-image: url(../assets/images/small-burger.png);
    }

    .sell4 {
      background-image: url(../assets/images/shava.png);
    }

    .sell:nth-child(even) .text {
      margin: 63px 253px 63px 50px
    }

    .sell:nth-child(odd) .text {
      margin: 63px 1px 63px 290px;
    }
  }
}

.our-team {
  margin-top: 150px;

  .teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    .circle {
      position: relative;

      .big-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 347px;
        height: 347px;
        border: 1px dashed #f6762c;
        border-radius: 100%;
      }

      .small-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 230px;
        border: 1px dashed #f6762c;
        border-radius: 100%;

        .ginger {
          width: 112px;
          height: 112px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 0 80px 1px #f6762c;
          }
        }
      }
      .black {
        position: absolute;
        top: 235px;
        left: 260px;
        border-radius: 50%;
      }

      .blond {
        position: absolute;
        top: 5px;
        left: 235px;
        border-radius: 50%;
      }

      .brutal {
        position: absolute;
        top: 45px;
        left: -15px;
        border-radius: 50%;
      }

      .gay {
        position: absolute;
        top: 280px;
        left: 55px;
        border-radius: 50%;
      }
    }


    .review {

      .coma {
        text-align: center;
      }

      .comment {
        margin-top: 37px;
        width: 368px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 1.25;
        color: #fff;
        opacity: 0.7;

      }

      .commentator {
        margin-top: 27px;
        font-weight: 500;
        line-height: 24px;
        font-size: 24px;
        text-align: center;
        color: #fff;

      }

      .nation {
        margin-top: 2px;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #fff;
        opacity: .7;
      }
    }
  }
}
.menu-D {
  margin-top: 180px;

  .background-button {
    position: absolute;
    margin: 0 -14vw;
    width: 100vw;
    height: 170px;
    background-color: #312F30;
    z-index: -1;
  }

  .downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    gap: 422px;

    .download {
      font-weight: 500;
      font-size: 40px;
      color: var(--color-white);
    }

    button {
      margin-top: 11px;
      width: 165px;
    }
  }
}

footer {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    width: 132px;
    height: 132px;
    background-image: url('../assets/icons/logo.png');
    background-size: contain;
    margin-left: -30px;
    margin-top: -40px;
  }

  .link {
    margin-top: -15px;
    margin-left: 6px;
    width: 160px;

    .email {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .email-icon {
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../assets/icons/email.png');
        background-size: contain;
      }

      .email-link {
        font-weight: 400;
        font-size: 12px;
        color: var(--color-white);
        opacity: 0.8;
        text-decoration: none;
      }
    }

    .global {
      display: flex;
      align-items: center;
      gap: 10px;

      .global-icon {
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../assets/icons/global.png');
        background-size: contain;
      }

      .global-link {
        font-weight: 400;
        font-size: 12px;
        color: var(--color-white);
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  .our-menu, .information, .links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 10px;

    .title {
      font-weight: 500;
      font-size: 16px;
      color: var(--color-white);
    }

    a {
      font-weight: 400;
      font-size: 12px;
      color: var(--color-white);
      opacity: 0.8;
      text-decoration: none;
    }
  }

  .our-menu {
    margin-left: -70px;
  }

  .links {
    margin-left: -3px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    margin-right: 65px;
    margin-top: -65px;

    .title {
      font-weight: 500;
      font-size: 16px;
      color: var(--color-white);
    }

    .social {
      display: flex;
      gap: 10px;
      margin-top: 16px;

      .facebook {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url('../assets/icons/facebook.png');
        background-size: contain;
      }

      .twitter {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url('../assets/icons/twitter.png');
        background-size: contain;
      }

      .instagram {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url('../assets/icons/instagram.png');
        background-size: contain;
      }

      .linkedin {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url('../assets/icons/linkedin.png');
        background-size: contain;
      }
    }
  }
}